.App {
    text-align: center;
}

.movies {
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 200px;
    border: 1px solid grey;
    margin: 10px 10px;
    flex-basis: 26%
}

.movie__title {
    font-size: 20px;
    vertical-align: baseline;
    height: 56px;
    line-height: 56px;
}